{% extends 'base/base.html' %}

{%block content%}

<h1>Servicios</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Valor</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for servicios in object_list%}
        <tr>
            <td>{{servicios.id}}</td>
            <td>{{servicios.Nombre_Servicio}}</td>
            <td>{{servicios.Descripcion_Servicio}}</td>
            <td>{{servicios.Valor_Servicio}}</td>
            <td>
                <a class="btn btn-success btn-circle" href="{%url 'servicios_editar' servicios.id %}"
                role="button"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-circle" href="{%url 'servicios_eliminar' servicios.id %}"
                role="button"><i class="fa fa-trash-alt"></i></a>
            </td>
            {% endfor%}
            {% else %}
            <h1>No hay registros de servicios</h1>
            {% endif %}
        </tr>
    </tbody>
</table>

<a class="btn btn-success" href="{%url 'servicios_crear' %}">Agregar</a>

{% comment %} <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primero</a>
        <a href="?page={{ page_obj.previous_page_number}}">Previo</a>
        {% endif %}

        <span class="current">
            Página {{page_obj.number}} de {{ page_obj.paginator.num_pages}}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages}}">Último &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}

{% endblock %}

{% block js_page %}
<script>
    //Llamamos al pluging del datatables
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock %}