{% extends 'base/base.html' %}

{%block content%}
<h1>Estado</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Descripcion</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for estado in object_list%}
        <tr>
            <td>{{estado.id}}</td>
            <td>{{estado.descripcion_estado}}</td>
            <td>
                <a class="btn btn-success btn-circle" href="{%url 'estado_editar' estado.id %}"
                role="button"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-circle" href="{%url 'estado_eliminar' estado.id %}"
                role="button"><i class="fa fa-trash-alt"></i></a>
            </td>
            {% endfor%}
            {% else %}
            <h1>No hay registros de estados</h1>
            {% endif %}
        </tr>
    </tbody>
</table>

<a class="btn btn-success" href="{%url 'estado_crear' %}">Agregar</a>

{% comment %} <div class"pagination">
    <span class="step-links">
            {% if page_obj.has_previous%}
            <a href="?page=1">&laquo; Primero</a>
            <a href="?page={{page_obj.previous_page_number}}">Previo</a>
            {% endif%}
            <span clas="current">
                Pagina {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
            </span>
        {% if page_obj.has_next%}
            <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
            <a href="?page={{page_obj.paginator.num_pages}}">Ultimo &raquo;</a>
        {%endif%}
    </span>
</div> {% endcomment %}


{% endblock %}

{% block js_page %}
<script>
    //Llamamos al pluging del datatables
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock %}