{% extends 'base/base.html' %}

{%block content%}
<h1>Estado</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Descripcion</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for estado in object_list%}
        <tr>
            <td>{{estado.id}}</td>
            <td>{{estado.descripcion_estado}}</td>
            <td>
                <a class="btn btn-primary" href="{%url 'estado_editar' estado.id %}">
                Editar </a>
                <a class="btn btn-danger" href="{%url 'estado_eliminar' estado.id %}">
                Eliminar </a>


            </td>
            {% endfor%}
            {% else %}
            <h1>No hay registros de estados</h1>
            {% endif %}
        </tr>
    </tbody>
</table>


{% endblock %}